body {
  height: auto;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 300px;
  padding-left: 30px;
  background-color: #ddffbc;
}

.container div {
  font-size: 1.5rem;
}
